table {
	border			: solid black 2px;
	border-collapse	: collapse;
}

tr, td {
	border	: solid black 1px;
}

tr:nth-child(2n+2) {
	background	: #EEE;
}

thead {
	background	: yellow;
	text-align	: center;
	font-weight	: bold;
}

div.patientCard {
	border		: solid black 1px;
	background	: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 9%,rgba(32,124,202,1) 92%,rgba(125,185,232,1) 100%);
	margin		: 4px;
	text-align	: center;
	display		: inline-block;
	padding		: 2px;
}

div.patientCard > * {
	background	: none;
}

#PatientsRestants {
	position	: fixed;
	top			: 0px;
	right		: 0px;
	border		: solid black 3px;
	height		: 80px;
	border-bottom-left-radius	: 50%;
	border-bottom-right-radius	: 50%;
	transition-property			: all;
	transition-duration			: 2s;
   background					: #CFC;
}

#PatientsRestants > .ListePatientsRestants {
	display	: none;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes PatientsRestantsColorAnim {
    0%		{background: #F88;}
	50%		{background: #FFF;}
    100%	{background: #F88;}
}

/* Standard syntax */
@keyframes PatientsRestantsColorAnim {
    0%		{background: #F99;}
	50%		{background: #FDD;}
    100%	{background: #F99;}
}

#PatientsRestants.display {
	transition-property			: all;
	transition-duration			: 2s;
	border-bottom-left-radius	: 0%;
	border-bottom-right-radius	: 0%;
	height						: 100%;
	/* Chrome, Safari, Opera */
	-webkit-animation-name				: PatientsRestantsColorAnim;
	-webkit-animation-duration			: 2s;
	-webkit-animation-timing-function	: linear;
	-webkit-animation-iteration-count	: infinite;
	-webkit-animation-direction			: alternate;
	-webkit-animation-play-state		: running;
	/* Standard syntax */
	animation-name						: PatientsRestantsColorAnim;
	animation-duration					: 2s;
	animation-timing-function			: linear;
	animation-iteration-count			: infinite;
	animation-direction					: alternate;
	animation-play-state				: running;
}

#PatientsRestants.display > .ListePatientsRestants {
	display	: block;
}

#map {
	width	: 500px;
	height	: 500px;
	border	: solid black 1px;
}

#newPatientMap {
	width	: 300px;
	height	: 300px;
	border	: solid black 1px;
}

#addPatient {
	display	: none;
}

#addPatient > form {
	position	: absolute;
	top			: 16px;
	right		: 16px;
	border		: solid black 2px;
	padding		: 8px;
	background	: white;
}

#addPatient.display {
	display		: block;
	position	: fixed;
	top			: 0px;
	right		: 0px;
	z-index		: 999;
	width		: 100%;
	height		: 100%;
	background	: rgba(0,0,0,0.5);
}

.MapLabels {
	color: red;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 40px;     
	border: 2px solid black;
	white-space: nowrap;
}
 
 #addPatient {
	position	: fixed;
	right		: 0px;
	top			: 0px;
	width		: 320px;
	border		: solid black 1px;
 }
 
#addPatient > form > div {
	text-align	: right;
}
  